body {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

fieldset {
  margin-top: 8px;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.form__class {
  margin-bottom: 10px;
}
